html { 
  background: url(../public/cthulhu.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Text--Outline {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Header {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.Profile {
  display: flex;
  justify-content: space-between;
}

.Investigator {
  display: flex;
  flex-direction: column;
  width: 35vw;
  align-items: flex-start;
  margin: 0 2rem;
}

.Investigator--Characteristics {
  width: 65vw;
  margin: 0 2rem;
}

.Investigator--Info {
  display: flex;
  flex-wrap: wrap;
  max-height: 25vh;
  width: 90%;
  flex-direction: column;
}

.Info--Span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  color: aliceblue;
}

.Category--Options {
  color: black;
  width: 45%;
  margin-right: 5%;
}
