html { 
  background: url(../public/cthulhu.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Text--Outline {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.Header {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.Investigator {
  display: flex;
  flex-direction: column;
  max-width: 50vw;
  align-items: flex-start;
  margin-left: 2rem;
}

.Investigator--Info {
  display: flex;
  flex-direction: column;
}

.Info--Span {
  display: flex;
  justify-content: space-between;
  color: aliceblue;
}
