html { 
  background: url(../public/cthulhu.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.Text--Outline {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  text-align: center;
}

.Header {
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.Profile {
  display: flex;
  justify-content: space-between;
}

.Investigator {
  display: flex;
  flex-direction: column;
  width: 35vw;
  align-items: flex-start;
  margin: 0 2rem;
}

.Investigator--Characteristics {
  width: 65vw;
}

.Investigator--Info {
  display: flex;
  flex-wrap: wrap;
  max-height: 25vh;
  width: 90%;
  flex-direction: column;
}

.Info--Span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: aliceblue;
}

.Category--Options {
  color: black;
  width: 55%;
  margin: 0 2% 0 0;
  max-height: 2.5rem;
}

.Prof--Skills, .Pers--Skills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

.Pers--Skills {
  justify-content: center;
}

.Stat--Source, .Target--Box {
  min-width: 4rem;
  min-height: 1rem;
  max-height: 1rem;
  border: aliceblue 2px solid;
  background-color: aliceblue;
  text-align: center;
  margin: 5px;
  cursor: pointer;
}

.Skill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 15rem;
}

.Skills--Array {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2rem 0;
  max-height: 25rem;
}

.Weapons--Combat {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 3rem 1rem 3rem;
}

.Weapons--Table, .Combat--Table {
  display: flex;
  color: aliceblue;
  text-align: center;
}

.Weapons--Column {
  display: flex;
  flex-direction: column;
}

.Weapons--Input {
  width: 5rem;
}

.Combat--Table {
  flex-direction: column;
}

.Combat--Row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.Combat--Input {
  width: 3rem;
  margin-left: 2rem;
}
